@font-face {
  font-family: 'salma';
  src: url(salmapro.otf);
}

* {
  font-family: 'salma', sans-serif;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 630px;
  background-color: #282828;
  border-radius: 7px;
}

#header-container {
  display: flex;
  align-items: center;
}

#image-container {
  padding-top: 12px;
  padding-left: 25px;
  padding-right: 18px;
  padding-bottom: 9px;
}

#header {
  color: #e7e6e6;
  font-size: 16px;
}

#display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: clip;
  height: 13vh;
  margin-left: 11px; /* When display overflows and clips, it leaves less margin than the right side */
  margin-right: 8px;
}

#display-operation {

  color: #e7e6e6;
  font-size: 3vh;
  height: 3vh;
}

#display {
  font-size: 9vh;
  line-height: 9vh;
  color: #e7e6e6;
  padding-top: 5px;
}

#clear {
  grid-area: clearArea;
}

#back {
  grid-area: backArea;
}

#buttons-container {
  flex: 1;
  display: grid;
  grid-template-areas: 'clearArea clearArea backArea backArea';
  grid-auto-columns: 1fr; /* even coloumn size */
  grid-gap: 4px;
  margin: 8px;
}

button {
  background: none;
  border: none;
  outline: none;
}

.btn {
  all: initial;
  display: flex;
}

.btn-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  color: #e7e6e6;
  border: none;
  border-radius: 7px;
}

.btn:focus,
.btn-content:focus {
  outline: none;
}

.btn:focus > .btn-content {
  box-shadow: 0 0 2px 2px white;
}

.digit > .btn-content,
.symbol > .btn-content {
  background-color: #494848;
}

.digit:hover > .btn-content,
.symbol:hover > .btn-content {
  background-color: #363636;
}

.digit:active > .btn-content,
.symbol:active > .btn-content {
  background-color: #262626;
}

.operator > .btn-content,
.clear > .btn-content,
.back > .btn-content {
  background-color: #363636;
}

.operator:hover > .btn-content,
.clear:hover > .btn-content,
.back:hover > .btn-content {
  background-color: #494848;
}

.operator:active > .btn-content,
.clear:active > .btn-content,
.back:active > .btn-content {
  background-color: #262626;
}

.operate > .btn-content {
  background-color: #00564d;
}

.operate:hover > .btn-content {
  background-color: #00443d;
}

.operate:active > .btn-content {
  background-color: #002c28;
}