
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'salmapro';
  src: url(salmapro.otf);
}

* {
  font-family: 'salmapro', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#web-container {
  height: 98vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#calc-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.history-container {
  width: 300px; /* 15.7vw */
  height: 620px;
  background-color: #282828;
  border-radius: 0 7px 7px 0;
}

.history-body {
  width: 292px; /* 15.3vw */
  height: 600px;
  margin: 10px 0;
  padding: 15px 0px 15px 15px;
  border-left: 2px solid #666565;
  overflow: hidden scroll;
}

.history-body::-webkit-scrollbar {
  width: 7px;
  background-color: #282828;
}

.history-body::-webkit-scrollbar-thumb{
  background-color: #494848;
  border-radius: 7px;
}

.history-operation:first-child {
  border: none;
}

.item-container:first-child {
  border: none;
}

.item-container {
  border-top: 1px solid #585858;
  width: 260px; /* 13.5vw */
  padding-bottom: 5px;
}

.history-operation {
  margin: 5px 10px;
  padding: 10px 0;
  color: #b1aeae;
  font-size: 25px;
  line-height: 25px;
  text-align: end;
}

.history-solution {
  margin: 5px 10px;
  color: #e7e6e6;
  font-size: 35px;
  line-height: 35px;
  text-align: end;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 620px;
  background-color: #282828;
  border-radius: 7px;
  padding: 2px;
}

.calc-container-history {
  position: relative;
  left: 150px;
}

.calculator-history {
  border-radius: 7px 0 0 7px !important;
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
}

#footer-container {
  display: flex;
}

#title-container {
  display: flex;
  align-items: center;
}

#image-container {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 9px;
}

#title {
  color: #e7e6e6;
  font-family: OpenSans-Regular;
  font-size: 16px;
  padding-bottom: 1px;
}

#display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: clip;
  height: 110px;
  margin-left: 11px; /* When display overflows and clips, it leaves less margin than the right side */
  margin-right: 8px;
}

#display-operation {

  color: #e7e6e6;
  font-size: 27px;
  height: 27px;
}

#display {
  font-size: 70px;
  line-height: 70px;
  color: #e7e6e6;
  padding-top: 5px;
}

#buttons-container {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-columns: 1fr; /* even coloumn size */
  grid-gap: 4px;
  margin: 8px;
}

button {
  background: none;
  border: none;
  outline: none;
}

.btn {
  all: initial;
  display: flex;
}

.btn-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #e7e6e6;
  border-radius: 7px;
}

.btn:focus,
.btn-content:focus {
  outline: none;
}

.btn:focus > .btn-content {
  box-shadow: 0 0 2px 2px #e7e6e6;
}

.digit > .btn-content,
.symbol > .btn-content {
  background-color: #494848;
}

.digit:hover > .btn-content,
.symbol:hover > .btn-content {
  background-color: #363636 !important; 
  /* Editing background on keydown and keyup events in JS seems to also edit the CSS pseudo class background. adding !important seems to fix the issue */
}

.digit:active > .btn-content,
.symbol:active > .btn-content {
  background-color: #262626 !important;
}

.clear-entry >.btn-content,
.history > .btn-content,
.operator > .btn-content,
.clear > .btn-content,
.delete > .btn-content {
  background-color: #363636;
}

.clear-entry:hover >.btn-content,
.history:hover > .btn-content,
.operator:hover > .btn-content,
.clear:hover > .btn-content,
.delete:hover > .btn-content {
  background-color: #494848 !important;
}

.clear-entry:active >.btn-content,
.history:active > .btn-content,
.operator:active > .btn-content,
.clear:active > .btn-content,
.delete:active > .btn-content {
  background-color: #262626 !important;
}

.operate > .btn-content {
  background-color: #00564d;
}

.operate:hover > .btn-content {
  background-color: #00443d !important;
}

.operate:active > .btn-content {
  background-color: #002c28 !important;
}